/* @import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap"); */

:root {
  --black: #0b0d17;
  --gray: #d0d6f9;
  --white: #ffffff;
  --font1: "Bellefair";
  --font2: "Barlow Condensed";
}

main {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  overflow-x: hidden;
}

header nav {
  background-color: hsla(230, 35%, 7%, 0.65);
}
.details {
  width: 80%;
  margin: 10px auto;
}
.detail_info {
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span {
  color: var(--gray);
}

h5 {
  font-family: var(--font2);
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 4.75px;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-family: var(--font2);
  color: var(--white);
  width: 100%;
}

img {
  margin: auto;
  height: 100%;
  width: 100%;
}
.destination_list {
  margin-left: 70px;
}
.main_destination {
  width: 90%;
}
.destination_list ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  padding: 0;
  margin-bottom: 40px;
}

.destination_list ul li {
  font-family: var(--font2);
  text-transform: uppercase;
  color: var(--gray);
  text-align: left;
  font-size: 20px;
  letter-spacing: 2.7px;
  padding: 10px 0;
  cursor: pointer;
}
.destination_list ul li:hover {
  border-bottom: 2px solid var(--gray);
}
.active {
  color: var(--white) !important;
  border-bottom: 2px solid var(--white);
}
.destination_detail {
  padding-bottom: 20px;
  width: 80%;
  border-bottom: 2px solid var(--white);
}

.destination_detail h2 {
  color: var(--white);
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-family: var(--font1);
}

.story {
  font-family: var(--font2);
  margin: 10px 0;
  line-height: 1.5;
  width: 100%;
  font-size: large;
  word-spacing: 1.5px;
}
.travel_log {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.travel_log p {
  font-family: var(--font2);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0;
}

.travel_log h4 {
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
  margin: 8px 0 0 0;
  font-family: var(--font1);
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  main {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
  .details {
    width: 90%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  img {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  .detail_info {
    flex-direction: column;
    margin-top: 5vh;
    padding: 0;
    margin-right: 0;
  }
  h5 {
    font-size: 22px;
  }
  span {
    display: inline-block;
  }

  .destination_list {
    margin-top: 50px;
  }
  .destination_list,
  .main_destination {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .destination_detail {
    width: 80%;
  }
  .destination_detail h2 {
    text-align: center;
  }

  .story {
    font-family: var(--font2);
    margin: 10px 0;
    line-height: 1.5;
    width: 100%;
    font-size: large;
    word-spacing: 1.5px;
    text-align: center;
  }
  .travel_log {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  main {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }
  h5 {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .destination_list ul {
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  img {
    width: 80%;
    height: 80%;
    margin: auto;
  }
  .destination_detail {
    width: 100%;
  }
  .destination_list ul li {
    font-size: 18px;
  }
  .destination_detail h2 {
    font-size: 50px;
  }
  .travel_log {
    display: block;
    width: 100%;
  }
  .travel_log p,
  .travel_log h4 {
    margin: 8px 0;
  }
  .distance {
    margin: 20px 0;
  }
}
