/* @import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap"); */

:root {
  --black: #0b0d17;
  --gray: #d0d6f9;
  --white: #ffffff;
  --font1: "Bellefair";
  --font2: "Barlow Condensed";
}

/* intro */

.intro {
  width: 75%;
  margin: 25vh auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro_para {
  width: 55%;
}

.intro_para h1,
h3 {
  font-family: var(--font1);
  text-transform: uppercase;
  color: var(--white);
}

.intro_para h1 {
  font-size: 150px;
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  color: var(--black);
  font-weight: 400;
}
.intro_para h5 {
  font-family: var(--font2);
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 4.75px;
  margin: 0;
  font-weight: 400;
}
.intro_para p {
  font-family: var(--font2);
  margin: 0;
  line-height: 1.5;
  width: 80%;
  font-size: large;
}
/* explore */
.exp_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

.exp_button:hover {
  outline: 20px solid var(--gray);
}

@media screen and (max-width: 768px) {
  span {
    display: none;
  }
  .intro {
    width: 70%;
    margin: 10vh auto 0 auto;
    display: block;
  }
  .intro_para {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .intro_para h5 {
    font-size: 20px;
    text-align: center;
  }
  .intro_para p {
    width: 75%;
    margin: 10px auto;
    text-align: center;
  }
  .intro_para h1 {
    font-size: 150px;
    text-align: center;
  }
  .exp_button {
    margin: 90px auto 10px auto;
  }
}

@media screen and (max-width: 375px) {
  span {
    display: inline;
  }
  .intro {
    width: 90%;
  }
  .intro_para h5 {
    font-size: 18px;
  }
  .intro_para p {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: medium;
  }
  .intro_para h1 {
    font-size: 80px;
    text-align: center;
  }

  .exp_button {
    margin: 50px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  h3 {
    font-size: 20px;
  }
}
